body{
  margin:0;
  padding: 0;
  font-family:Inter;
  background:radial-gradient(circle at top,#1e40af,#020617);
  color:white;
}

h1{
  margin-bottom:20px;
  padding: 30px 30px 0 30px;
  margin: 0;
}

table{
  width:calc(100% - 60px);
  background:rgba(255,255,255,0.05);
  border-radius:15px;
  overflow:hidden;
  border-collapse:collapse;
  margin: 0 30px 30px 30px;
}

th,td{
  padding:15px;
  text-align:left;
}

th{
  background:rgba(255,255,255,0.1);
}

tr:hover{
  background:rgba(255,255,255,0.05);
}

.bad{
  color:#ef4444;
  font-weight:bold;
}

.good{
  color:#22c55e;
  font-weight:bold;
}
