body{
  margin:0;
  font-family:Inter;
  background-color: #000001;
  color:white;
  padding:30px;
}

.container{
  background:rgba(37, 23, 235, 0.911);
  padding:30px;
  border-radius:20px;
  backdrop-filter:blur(15px);
}
.top{
  display:flex;
  align-items:center;
  gap:20px;
  margin-bottom:20px;
}
.top img{
  width:70px;
  
  

}
h1{
  margin-bottom:20px;
}

input{
  background-color: aliceblue;
  padding:12px;
  width:300px;
  border:none;
  border-radius:10px;
  margin-bottom:20px;
}

table{
  width:100%;
  background:#FB5607;
  border-collapse:collapse;
  border-radius:15px;
  overflow:hidden;
}

th,td{
  padding:15px;
}

th{
  background:rgba(255,255,255,0.1);
}

.available{
  color:#22c55e;
}

.issued{
  color:#ef4444;
}

button{
  padding:8px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  background:linear-gradient(45deg,#3b82f6,#22d3ee);
  color:white;
}
