*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter;
}

body{
  display:flex;
  height:100vh;
  background:radial-gradient(circle at top,#1e40af,#020617);
  color:white;
}

/* Sidebar */
.sidebar{
  width:220px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  padding:30px;
}

.sidebar h2{
  font-size:22px;
  margin-bottom:30px;
}

.sidebar a{
  display:block;
  padding:12px;
  margin:10px 0;
  color:white;
  text-decoration:none;
  border-radius:8px;
}

.sidebar a:hover,.active{
  background:rgba(255,255,255,0.15);
}

/* Main */
.main{
  flex:1;
  padding:30px;
}

/* Topbar */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.topbar input{
  padding:10px 15px;
  width:250px;
  border:none;
  border-radius:10px;
}

/* Cards */
.cards{
  display:flex;
  gap:20px;
  margin:30px 0;
}

.card{
  flex:1;
  padding:25px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.blue{background:linear-gradient(135deg,#3b82f6,#22d3ee);}
.green{background:linear-gradient(135deg,#22c55e,#4ade80);}
.red{background:linear-gradient(135deg,#ef4444,#fb7185);}

.card p{
  font-size:40px;
  font-weight:bold;
}

/* Table */
table{
  width:100%;
  background:rgba(255,255,255,0.05);
  border-collapse:collapse;
  border-radius:15px;
  overflow:hidden;
}

th,td{
  padding:15px;
  text-align:left;
}

th{
  background:rgba(255,255,255,0.1);
}

.available{color:#22c55e;}
.issued{color:#ef4444;}

#title{
    height: 40px;
    width:500px;
    margin-bottom: 30px;
}
#author{
    height: 40px;
    width:400px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#adbt{
    height: 40px;
    width:300px;
    margin-bottom: 30px;
}
#addBookBtn{
    height: 40px;
    width:150px;
    margin-bottom: 30px;
    background-color: #23e664;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}