*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter;
}

body{
  background:linear-gradient(180deg,#0b1020,#0a1c3d);
  color:white;
}

/* Navbar */
nav{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
}

.logo{
  font-weight:800;
  font-size:20px;
}

.nav-links a{
  margin:0 20px;
  cursor:pointer;
}

.login-btn{
  background:linear-gradient(45deg,#3b82f6,#22d3ee);
  border:none;
  padding:10px 22px;
  color:white;
  border-radius:25px;
  cursor:pointer;
}

/* Hero */
.hero{
  text-align:center;
  padding:120px 20px;
  background:radial-gradient(circle at top,#1e40af,#020617);
}

.hero h1{
  font-size:60px;
  font-weight:800;
}

.hero p{
  margin-top:15px;
  color:#c7d2fe;
  font-size:18px;
}

.cta{
  margin-top:30px;
  padding:16px 40px;
  background:linear-gradient(45deg,#3b82f6,#22d3ee);
  border:none;
  border-radius:40px;
  color:white;
  font-size:18px;
  cursor:pointer;
  box-shadow:0 0 30px #3b82f6;
}

/* Cards */
.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:-50px;
  padding-bottom:80px;
}

.card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  width:280px;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 40px #3b82f6;
}

.card h3{
  margin:15px 0;
}
