body{
  margin:0;
  font-family:Inter, sans-serif;
  background:radial-gradient(circle at top,#1e40af,#020617);
  color:white;
  padding:40px;
}

h2{
  margin-bottom:30px;
  font-size:28px;
  font-weight:800;
}

canvas{
  background:rgba(255,255,255,0.05);
  padding:20px;
  border-radius:20px;
  box-shadow:0 0 30px rgba(0,0,0,0.6);
}
