*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle at top,#1e40af,#020617);
  color:white;
}

.login-container{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  padding:40px;
  width:350px;
  border-radius:20px;
  box-shadow:0 0 40px rgba(0,0,0,0.6);
  text-align:center;
}

input{
  width:100%;
  padding:14px;
  margin:10px 0;
  border:none;
  border-radius:10px;
  background:rgba(255,255,255,0.1);
  color:white;
}

button{
  width:100%;
  padding:14px;
  margin-top:15px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#3b82f6,#22d3ee);
  color:white;
  font-size:16px;
  cursor:pointer;
}

.link{
  margin-top:20px;
}

.link a{
  color:#38bdf8;
  text-decoration:none;
}

.msg{
  margin-top:10px;
  color:#facc15;
}
